header {
	height: 3.5%;
	width: 50%;
	padding: 0 25%;
	/* background: $blue url('../images/dropMenu-87.svg') 50%/contain no-repeat; */
	background:  $blue;
	position: relative;
	cursor: pointer;
	z-index: 50;
	
	@media (max-width: 800px) {
		& {
			z-index: 50;
		}
	}
	
	div {
		font-size: .75em;
		text-align: center;
		font-family: $game-font;
		color: white;
	}
	
}

#game-container {
	overflow: hidden;
	/* background: url('../images/brick-Bkgd.svg') 50%/contain; */
	background: black;
	height: 96.5%;
	position: absolute;
	
	#desk-container {
		display: none;
		visibility: hidden;
		z-index: -1000;
		
		&.active {
			display: inline;
			visibility: visible;
		}
		
	}
	
	#mob-container {
		display: none;
		visibility: hidden;
		overflow: hidden;
		
		&.active {
			display: inline;
			visibility: visible;
		}
				
	}

	&:before {
		 content: "";
		 height: 110%;
		 width: 20.5%;
		 background: url('../images/border-L.png') right -10px/cover no-repeat;
		 position: absolute;
		 left: 0; top: 0;
		 z-index: 50;
	 
	}
	
	&:after {
		 content: "";
		 height: 110%;
		 width: 20.5%;
		 background: url('../images/border-R.png') left -10px/cover no-repeat;
		 position: absolute;
		 right: 0; top: 0;
		 z-index: 50;
	 
	}
	
	@media (max-width: 800px) {
		&:after {
			width: 6.5%;
		 	background: $blue url('../images/border-L.png') 75%/cover no-repeat;
		}
		&:before {
			width: 6.5%;
		 	background: $blue url('../images/border-R.png') 50%/cover no-repeat;
		}
	}
	
	#maze-container {
		width: 700px;
		height: 8500px;
		margin: auto;
		overflow: hidden; 
		position: relative;
		visibility: hidden;
		opacity: 0;
		
		&.active {
			visibility: visible;
			opacity: 1;
		}

		#maze-stage {
			padding-right: 20px;
			position: relative;
					
			img {
				width: 100%;
				height: auto;
			}
			
		}
		
	}
	
	#scroll-container {
		position: absolute;
		overflow-y: scroll;
		padding-right: 20px;
		top: 0;
		
		&.pause {
			z-index: -100;
		}
		
		&.resume {
			z-index: 20;
		}
		
		#scroll-controller {
			height: 19500px;
		}
		
		 
	}
	
}

footer {
	height: 3.5%;
	width: 50%;
	padding: 0 25%;
	background: $blue;
	position: fixed;
	bottom: 0;
	z-index: 40;
	
	@media (max-width: 800px) {
		& {
			z-index: 50;
		}
	}
		
}