$blue: #003056;

// Colors
$black: #000000;

	//MAZE
$lght-blue: #1adbe5;

	//VIEWPORT
$vp-blue: #1313e5;

$yellow: #f2d03b;
$orange: #FF6138;

/* @font-face {
    font-family: "emulogic";
    src: url("fonts/emulogic.eot") format("eot"),
         url("fonts/emulogic.woff2") format("woff2"),
         url("fonts/Emulogic.woff") format("woff"),
         url("fonts/Emulogic.ttf") format("truetype"),
         url("fonts/Emulogic.svg") format("svg");
}*/

// FONT STACKS

$game-font: 'Press Start 2P', cursive;
