// ACTIVATE ELEMENT
.activated {
	animation: activated .75s .5s linear forwards;
}

@-webkit-keyframes activated {
  0%   { opacity: 0.35; }
  10%   { opacity: 0.35; }
  21%   { opacity: 0.85; }
  70%   { opacity: 0.35; }
  99%   { opacity: 0.35; }
  100%   { opacity: 1.00; }
}

@-moz-keyframes activated {
  0%   { opacity: 0.35; }
  10%   { opacity: 0.35; }
  21%   { opacity: 0.85; }
  70%   { opacity: 0.35; }
  99%   { opacity: 0.35; }
  100%   { opacity: 1.00; }
}

@-o-keyframes activated {
  0%   { opacity: 0.35; }
  10%   { opacity: 0.35; }
  21%   { opacity: 0.85; }
  70%   { opacity: 0.35; }
  99%   { opacity: 0.35; }
  100%   { opacity: 1.00; }
}

@keyframes activated {
  0%   { opacity: 0.35; }
  10%   { opacity: 0.35; }
  21%   { opacity: 0.85; }
  70%   { opacity: 0.35; }
  99%   { opacity: 0.35; }
  100%   { opacity: 1.00; }
}

// DEACTIVATED ELEMENT
.deactivated {
	animation: deactivated .35s linear forwards;
}

@-webkit-keyframes deactivated {
  0%   { opacity: 1.00; }
  10%   { opacity: 1.00; }
  21%   { opacity: 0.25; }
  50%   { opacity: 0.25; }
  51%   { opacity: 1.00; }
  99%   { opacity: 1.00; }
  100%   { opacity: 0.00; }
}

@-moz-keyframes deactivated {
  0%   { opacity: 1.00; }
  10%   { opacity: 1.00; }
  21%   { opacity: 0.25; }
  50%   { opacity: 0.25; }
  51%   { opacity: 1.00; }
  99%   { opacity: 1.00; }
  100%   { opacity: 0.00; }
}

@-o-keyframes deactivated {
  0%   { opacity: 1.00; }
  10%   { opacity: 1.00; }
  21%   { opacity: 0.25; }
  50%   { opacity: 0.25; }
  51%   { opacity: 1.00; }
  99%   { opacity: 1.00; }
  100%   { opacity: 0.00; }
}

@keyframes deactivated {
  0%   { opacity: 1.00; }
  10%   { opacity: 1.00; }
  21%   { opacity: 0.25; }
  50%   { opacity: 0.25; }
  51%   { opacity: 1.00; }
  99%   { opacity: 1.00; }
  100%   { opacity: 0.00; }
}

// FLASH
.flash {
	animation: flash 1s linear infinite;
}

@-webkit-keyframes flash {
	0% { opacity: 1; } 
	49% { opacity: 1; } 
	50% { opacity: 0; } 
	99% { opacity: 0; } 
	100% { opacity: 1; }
}

@keyframes flash {
	0% { opacity: 1; } 
	49% { opacity: 1; } 
	50% { opacity: 0; } 
	99% { opacity: 0; } 
	100% { opacity: 1; }
}


@-webkit-keyframes ghost-In1 {
  0%   { right: -100px; bottom: 60px; background-position: 100%;}
  49.99% { background-position: 100%;}
  50% { right: 540px; bottom: 60px; background-position: 0;}
  100% { right: 540px; bottom: 335px; background-position: 0;}
}
@-moz-keyframes ghost-In1 {
  0%   { right: -100px; bottom: 60px; background-position: 100%;}
  49.99% { background-position: 100%;}
  50% { right: 540px; bottom: 60px; background-position: 0;}
  100% { right: 540px; bottom: 335px; background-position: 0;}
}
@-o-keyframes ghost-In1 {
  0%   { right: -100px; bottom: 60px; background-position: 100%;}
  49.99% { background-position: 100%;}
  50% { right: 540px; bottom: 60px; background-position: 0;}
  100% { right: 540px; bottom: 335px; background-position: 0;}
}
@keyframes ghost-In1 {
  0%   { right: -100px; bottom: 60px; background-position: 100%;}
  49.99% { background-position: 100%;}
  50% { right: 540px; bottom: 60px; background-position: 0;}
  100% { right: 540px; bottom: 335px; background-position: 0;}
}

@-webkit-keyframes ghost-In2 {
  0%   { right: -100px; bottom: 60px; background-position: 100%;}
  49.99% { background-position: 100%;}
  50% { right: 540px; bottom: 60px; background-position: 0; }
  100% { right: 540px; bottom: 270px; background-position: 0; }
}
@-moz-keyframes ghost-In2 {
  0%   { right: -100px; bottom: 60px; background-position: 100%;}
  49.99% { background-position: 100%;}  
  50% { right: 540px; bottom: 60px; background-position: 0; }
  100% { right: 540px; bottom: 270px; background-position: 0; }
}
@-o-keyframes ghost-In2 {
  0%   { right: -100px; bottom: 60px; background-position: 100%;}
  49.99% { background-position: 100%;}  
  50% { right: 540px; bottom: 60px; background-position: 0; }
  100% { right: 540px; bottom: 270px; background-position: 0; }
}
@keyframes ghost-In2 {
  0%   { right: -100px; bottom: 60px; background-position: 100%;}
  49.99% { background-position: 100%;}  
  50% { right: 540px; bottom: 60px; background-position: 0; }
  100% { right: 540px; bottom: 270px; background-position: 0; }
}


@-webkit-keyframes ghost-In3 {
  0%   { right: -100px; bottom: 60px; background-position: 100%;}
  49.99% { background-position: 100%;}  
  50% { right: 540px; bottom: 60px; background-position: 0; }
  100% { right: 540px; bottom: 205px; background-position: 0; }
}
@-moz-keyframes ghost-In3 {
  0%   { right: -100px; bottom: 60px; background-position: 100%;}
  49.99% { background-position: 100%;}  
  50% { right: 540px; bottom: 60px; background-position: 0; }
  100% { right: 540px; bottom: 205px; background-position: 0; }
}
@-o-keyframes ghost-In3 {
  0%   { right: -100px; bottom: 60px; background-position: 100%;}
  49.99% { background-position: 100%;}  
  50% { right: 540px; bottom: 60px; background-position: 0; }
  100% { right: 540px; bottom: 205px; background-position: 0; }
}
@keyframes ghost-In3 {
  0%   { right: -100px; bottom: 60px; background-position: 100%;}
  49.99% { background-position: 100%;}  
  50% { right: 540px; bottom: 60px; background-position: 0; }
  100% { right: 540px; bottom: 205px; background-position: 0; }
}

@-webkit-keyframes ghost-In4 {
  0%   { right: -100px; bottom: 60px; background-position: 100%;}
  49.99% { background-position: 100%;}  
  50% { right: 540px; bottom: 60px; background-position: 0; }
  100% { right: 540px; bottom: 140px; background-position: 0; }
}
@-moz-keyframes ghost-In4 {
  0%   { right: -100px; bottom: 60px;}
  50% { right: 540px; bottom: 60px; background-position: 0; }
  100% { right: 540px; bottom: 140px; background-position: 0; }
}
@-o-keyframes ghost-In4 {
  0%   { right: -100px; bottom: 60px; background-position: 100%;}
  49.99% { background-position: 100%;}  
  50% { right: 540px; bottom: 60px; background-position: 0; }
  100% { right: 540px; bottom: 140px; background-position: 0; }
}
@keyframes ghost-In4 {
  0%   { right: -100px; bottom: 60px; background-position: 100%;}
  49.99% { background-position: 100%;}  
  50% { right: 540px; bottom: 60px; background-position: 0; }
  100% { right: 540px; bottom: 140px; background-position: 0; }
}

@-webkit-keyframes minPc-In {
  0%   { right: -100px; }
  100% { right: 265px;  }
}
@-moz-keyframes minPc-In {
  0%   { right: -100px; }
  100% { right: 265px;  }
}
@-o-keyframes minPc-In {
  0%   { right: -100px; }
  100% { right: 265px;  }
}
@keyframes minPc-In {
  0%   { right: -100px; }
  100% { right: 265px;  }
}
