#pacman {
    width: 160px;
    height: 160px;
    position: absolute;
    background: black;
    left: 403px;
    border-radius: 100px;
    top: 205px;
	      
    &.down {
    	background: black url('../images/main-gobble-down.gif') 50%/ contain no-repeat;
    	
    	&.pause {
		    background: black url('../images/main-gobble-pause-down.jpg') 50%/ contain no-repeat;
    	}
    }
    
    &.up {
    	background: black url('../images/main-gobble-up.gif') 50%/ contain no-repeat;
    	
    	&.pause {
		    background: black url('../images/main-gobble-pause-up.jpg') 50%/ contain no-repeat;
    	}
    }
        
    &.right {
	    background: black url('../images/main-gobble-right.gif') 50%/ contain no-repeat;
			    
		&.pause {
		    background: black url('../images/main-gobble-pause-right.jpg') 50%/ contain no-repeat;
		}
		
    }
    
    &.left {
	    background: black url('../images/main-gobble-left.gif') 50%/ contain no-repeat;
	    
		&.pause {
		    background: black url('../images/main-gobble-pause-left.jpg') 50%/ contain no-repeat;
		}
		
    } 
    
    &.pause {
	    background: black url('../images/main-gobble-pause.jpg') 50%/ contain no-repeat;
    }
           
}

.ght-bit {
	font-family: 'Press Start 2P', cursive;
}

// TOP NAV

#ext-nav {
	width: 250px;
	margin: 0 auto;
	height: 50px;
	position: absolute;
	z-index: 1000;
	text-align: center;
	left: 0; 
	
	ul {
		list-style-type: none;
		padding-top: 10px;
		
		li {
			height: 50px;
			width: 50px;
			color: white;
			cursor: pointer;
			border-radius: 100px;
			margin: 10px;
			box-shadow: 2px 2px 2px rgba(0,0,0,0.85);
			opacity: 0.85;
			
			transition: all .25s;
			
			&[btn-val="home"]{
				background: white url('../images/nav-ico-home.png') no-repeat center/65%;
			}
			
			&[btn-val="download"]{
				background: white url('../images/nav-ico-download.png') no-repeat center/65%;
			}
			
			&[btn-val="star"]{
				background: white url('../images/nav-ico-star.png') no-repeat center/65%;
			}
			
			&:hover {
				opacity: 1;
			}
			
		}
		
	}
}

// TOKENS
#tokens-container {
	position: absolute;
	top: 0;
	height: 10px;
	width: 100%;

	#mini-games-container {
		position: relative;
		
		.mini-canvas {
			position: absolute;
			background: black;
			z-index: 30;
			overflow: hidden;
			border-radius: 5px;
			
			&.static {
				background: black url('../images/game-ico.png') 50%/150px no-repeat;
			}
			
			&.win {
				background: black url('../images/winCupBW.gif') 50%/50% no-repeat;
			}
			
			#game-intro-vid {
				width: 300px;
				height: auto;
				position: absolute;
				top:0; left: 0; right: 0; bottom: 0;
				margin: auto;
			}
			
			&[data-game-val="0"]{
				cursor: pointer;
				height: 395px;
				width: 393px;
				left: 63px;
				top: 680px;				
			}
			
			&[data-game-val="1"]{
				cursor: pointer;
				height: 353px;
				width: 197px;
				left: 20px;
				top: 1408px;

			}
			
			&[data-game-val="2"]{
				cursor: pointer;
				height: 400px;
				width: 330px;
				left: 316px;
				top: 2092px;
			}
			
			&[data-game-val="3"]{
				cursor: pointer;
				height: 342px;
				width: 345px;
				left: 69px;
				top: 2835px;
			}
			
			&[data-game-val="4"]{
				cursor: pointer;
				height: 441px;
				width: 235px;
				left: 324px;
				top: 3757px;
			}
			
			canvas {
				margin: auto;
				position: absolute;
				top: 0;	left: 0; right: 0; bottom: 0;
			}
			
		}
		
		
	}

}


// SLIDESHOW

.slideshow {

	height: 70%;
    width: 80%;
    margin: auto;

    ul {
        height: 100%;
        width: 100%;
        list-style-type: none;
        background: grey;
        position: relative;
        
        #legend {
        	height: 100%;
        	
        	ul {
        	
        		background: black;
			
				li {
					width: 20%;
					position: relative;
					opacity: 1;
					
					h2 {
						font-size: .75em;
					}
				}
        	
        	}
        	
        }
        
        li {
            display: inline-block;
            position: absolute;
            background: black;
            left: 0; right: 0; top: 0; bottom: 0;
            height: 100%;
            width: 100%;
            z-index: 10;
            overflow: hidden;
            color: white;
            
            &.active {
            	z-index: 20;
            }
            
            &#intro-res-slide {
            
				span.ght-bit {
					word-spacing: -10px;
				}
				
				#min-logo {
					margin: 5px auto;
					height: 80px;
					width: 350px;
					padding: 10px;
					background: $orange;
					position: relative;
					border-radius: 2.5px;				
			
				}
			
            }
            
            &#intro-res-direct-slide {
            
            	.hlf {
            		vertical-align: top;
            		
            		h3 {
            			padding: 42.5px 0;
            		}
            		
            		img {
            			height: 210px;
            		}
            	}
            	
            }
            
            #guide-gif {
            	margin-top: 5px;
				height: 135px;
				/* background-color: white; */
				overflow: hidden;
				position: relative;
				
				img {
					height: 100%;
				}
				
            }
            
        }
        
    }
    
	.btn {
		width: 30px;
		height: 30px;
		cursor: pointer;
		border-radius: 15px;
		transition: all .25s;
		display: inline-block;
		margin: 0 10px;
		
		transition: all .25s;
		
		&.dec {
			background: #f2d03b url(../images/menuSelect-dec.svg) center/30% no-repeat;
		}
		
		&.inc {
			background: #f2d03b url(../images/menuSelect.svg) center/30% no-repeat;
		}
		
		&:hover, &:focus {
			background-color: $orange;
		}
		
    }
    
}

// MINI GAMES

// POP UP

#tools-tip {
	width: 515px;
	height: 200px;
	border-radius: 5px;
	background: rgba(0,0,0,0.75);
	border: solid white 5px;
	text-align: center;
	padding: 45px 50px;
	font-family: 'Fredoka One', cursive;
	text-transform: uppercase;
	z-index: -20;
	opacity: 0.00; 
	font-size: 1.25em;
    transform:translateY(20px);
	color: white;

	-webkit-transition: all .35s ease-in;
	transition: all .35s ease-in;
	
	#close {
		height: 15px;
		width: 15px;
		font-size: .5em;
		padding: 5px;
		background: rgba(0,0,0,0.5);
		border-radius: 100px;
		position: absolute;
		right: 10px;
		top: 15px;
		color: white;
		cursor: pointer;
	}
	    	
	&.active {	
		opacity: 1.00;	
		transform:translateY(0);
		z-index: 80;

	}
	
	ul {
		list-style-type: none;
		
		li.tool {
			display: inline-block;
			margin: 10px;
			text-align: center;
			opacity: 0.25;
				
    		-webkit-filter: grayscale(100%); 
			filter: grayscale(100%);
				    
			&.activated {
	    		-webkit-filter: grayscale(0%); 
				filter: grayscale(0%);
			}
								
			div {
				width: 100px;
				height: 100px;
				border: dashed black 2px;
				margin: 10px auto;
				
				img {
					height: 100%;
				}
				
			}

			h2 {
				line-height: 1.5em;	
				font-size: .95em;		
			}
					
		}
		
	}
	
	.tool-slides {
		position: absolute;
		opacity: 0.00;
		
		&.active {
			opacity: 1.00;
			
			div {
				border: none;
			}
			
		}
		
	}
	
	div[data-slide-tip-val="0"] {
	
		.block-hit {
			height: 120px;
			width: 120px;
			display: inline-block;	
			margin: 12.5px 15px;
		}
		
	}
	
	
	 
}

// WINNER VIEWPORT

#winners-viewport {
	height: 100%;
	width: 100%;
	z-index: -40;
	background: white;
	position: absolute;
	top: 0;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	
	
	#win-contain {
		width: 50%;
		text-align: center;
		height: 75%;
		font-family: 'Fredoka One', cursive;
		text-transform: uppercase;
		font-size: 1.75em;
		color: $blue;
		z-index: 100;
		
		.btn {
			color: white;
			background: $orange;
			border-radius: 5px;
			padding: 15px 0;
			text-transform: uppercase;
			font-size: 1.15em;
			width: 300px;
			height: 40px;
			cursor: pointer;
			
		}
		
		#pac-fig {
			height: 150px;
			width: 150px; 
			border-radius: 150px;
			padding: 10px;
			margin: auto;
			overflow: hidden;
			opacity: 0.5;
			background: rgba(0,0,0,0);
			
			img {
				height: auto;
				width: 100%;
				margin: auto;
			}
			
		}
	}
	
	&.active {
		z-index: 40;
		visibility: visible;
		opacity: 1;
	}
	
}

// VID PORT

#intro-viewport {
	height: 100%;
	width: 100%;
	z-index: 10;
	background: $black;
	position: absolute;
	top: 0;
	text-align: center;

	#intro {
		height: 100%;
		width: 500px;
		background: $black;
		z-index: 60;
		margin: 0 auto;
		position: relative;
		top: 0;

		&.vid-actv {
			background-image: none;
			-webkit-filter: grayscale(0%);
			filter: grayscale(0%);
			cursor: pointer;
		}
	
		#main-menu {	
			color: white;
			height: 385px;
			width: 100%;
			
			#logo-wrapper {
				background: yellow;
				width: 100%;
				height: 145px;
				margin-bottom: 20px;
			}
	
			#menu-wrapper {	
				width: 100%;
				font-family: 'Press Start 2P', cursive;
				text-transform: uppercase;
				margin: auto;
				text-align: center;
				height: 415px;
				
				#header-logo {
					height: 95px;
					width: 100%;
					background: url('../images/intro-logo.svg') 50%/contain no-repeat #FF6138;
					border-radius: 2.5px;
					margin: 0 auto 30px auto;
					position: relative;
					border-bottom: #FF6138 solid 5px;
					border-right: #FF6138 solid 5px;
					
					&:before {
						content: "";
						width: 100%;
						height: 100%;
						left: -7.5px; top: -6px;
						border: 2.5px white solid;
						border-radius: 2.5px;
						position: absolute;
					}
					
				}
		
				#int-main-menu {
					list-style-type: none;
					border: solid white 5px;
					padding: 20px;
					margin: 0 auto 40px auto;
					width: 75%;
					
					li {
						padding: 10px 5px;
						
					}
			
				}
		
				#credits {
					font-size: .9em;
					line-height: 1.25em;
				}		
		
			}
	
	
		}	

		#vidWrapper {
			width: 100%;
			height: 100%;
			background: $black;

			#introVid {
				width: 85%;
				position: relative;
			}						
	
			.btn {
				color: $yellow;
				text-align: center;
				font-family: 'Press Start 2P', cursive;
				text-transform: uppercase;
				opacity: 0;
			}
		
		}
	
	}		

}

// MAIN MENU

#main-menu {

	.btn{
		font-family: 'Press Start 2P', cursive;
		text-align: center;
		width: 70%;
		font-size: 1.15em;
		margin: auto;
		position: relative;
		cursor: pointer;
		
		&:hover:before  {
			opacity: 1.00;
		}
		
		&:before {
			width: 12.5px;
			content: "";
			height: 100%;
			left: -25px;
			top: 0;
			position: absolute;
			background: url(../images/menuSelect.svg) 50%/contain no-repeat;
			opacity: 0.00;
		}
		
		a {
			color: white;
			text-decoration: none;
		}
		
	}
}

// MOBILE

#mob-container {
	height: 90%;
	width: 80%;
	padding: 5% 10%;
	margin: auto;
	position: absolute;
	left: 0; right: 0; top: 0; bottom: 0;
	display: block;

	canvas {
		height: 100%;
		margin: auto !important;
		position: absolute;
		left: 0; right: 0; top: 0; bottom: 0;
	}
	
	#hit-box {
		height: 55%;
		width: 75%;
		background: white;
		position: absolute;
		left: 0; right: 0; top: 0; bottom: 0;
		margin: auto;
		background: rgba(0,0,0,0.75);
		border: solid white 5px;
		overflow: hidden;
		text-align: center;
		border-radius: 10px;
		z-index: -10;
		
		&.active {
			z-index: 20;
		}
		
		#hit-gif {
			height: 90%;
			position: absolute;
			top: 0; left: 0; right: 0; bottom: 0;
			margin: auto;
		}	
		
	}
	
}

// BTN

div.btn[data-val="start"]{
	background: $orange;
	width: 200px;
	padding: 10px 0;
	font-size: 1.25em;
	border-radius: 5px;
	margin-top: 20px;
	cursor: pointer;
	box-shadow: 2px 2px 2px #a82b13;
	
    -webkit-transition: all .25s;
    transition: all .25s;
    	
	&:hover {
		background: $blue;
		box-shadow: 2px 2px 2px #061728;
	}
	
}